.navbar-name-container {
  padding: 10px;
}

.navbar-icon-container {
  padding: 10px;
}

.navbar-expanded-dropdown {
  position: absolute;
  width: 300px;
}

.navbar-icon-size {
  width: 30px;
  height: auto;
}
