.tile {
  float: left;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  clear: both;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
  background-color: rgb(255, 255, 203);
}

.room-icon-size {
  width: 70px;
  height: auto;
}
